
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(9, 1, 1);
    height: 10vh;
    display: flex;
    align-items: center;    
}
.container .logo{
    margin-left: 10%;
    background-color: #FF9D23;
    border-radius: 5px;
}
.logo-title{
    font-size:26px;
    padding: 2px 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.menu-icon{
    padding: 10px 20px;
   
}
