/* SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    width: 900px;
  }
  
  .dropdown-btn {
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px 20px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid lightgray;
    border-left: none;
    outline: none;
  }
  
  .search-btn {
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .sub-title{
    color: white;
    padding: 0px 20px;
    font-size:8px;
    letter-spacing:-1px;
  }
  .sub-title span{
    color: #00879E;
}
/* UserMenu.css */
.user-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 14px;
  }
  
  .watchlist {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .sign-in {
    cursor: pointer;
  }
  
  .language-dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  /* UserMenu.css */
.icon-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .bookmark-icon {
    font-size: 20px;
    color: white;
  }
  
  .plus-icon {
    position: absolute;
    right: 3px;
    font-size: 10px;
    color: black; /* Change the color as you like */
    border-radius: 50%;
    top: 4px;
    
  }
  .movie-form {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 300px;
    width: 100%;
  
  }
  
  .movie-form input {
    display: block;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
  }
  
  .movie-list {
    margin: 10px 0;
  }
  
  .movie-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px 0;
    background-color: #fff;
  }
  
  
  
  